// ========== Colores ==========//
$blue: #003049;
$red: #D62828;
$orange: #F77F00;
$lightorange: #FCBF49;
$lemon: #EAE2B7;


// ========== Font & Weights ==========//
$main: 'Poppins', sans-serif;
$smurf: 'Open Sans', sans-serif;
$logo: 'Style Script', cursive;


// ========== Sizes ==========//
$w:30px;
$h:4px;
