@import "../variables/variables";
@import "../variables/mixin";


.compra__titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    &--style{
        font-size: clamp(18px,5vw,29px);
        color: $blue;
        text-decoration: underline;
        text-decoration-color: $blue;
    }
}







