@each $bg in barrionorte, caballito, microcentro, recoleta, palermo {
    .#{bg}-maps{
        background-image: url(../../assets/maps/#{bg}.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}



.header__title{
    font-size: clamp(2.7rem, 5vw, 6rem);
    color: $blue;
    text-align: center;
    @include main-700;
    text-decoration: underline;
}


